@import "../Colors.scss";

collectionCountContainer {
    background-color: #EFF3F6;
    color: $ForegroundRegularStrong;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*padding-bottom: 0.15rem;*/
    padding: 1rem;
    font-size:1.5rem;
}