@import "../Colors.scss";

.statusLabelContainer {
    border-width: 1px;
    border-style: solid;
    padding: 1rem 2rem;
    display: inline-block;
    border-color: gray;
    color: gray;
    background-color: lightgray;
    border-radius: 7px;
}

.statusLabelContainer--Ok {
    @extend .statusLabelContainer;
    border-color: $Ghost_Ok_Foreground;
    color: $Ghost_Ok_Foreground;
    background-color: $Ghost_Ok_Background;
}

.statusLabelContainer--Error {
    @extend .statusLabelContainer;
    border-color: #E89898;
    color: #E89898;
    background-color: #FEEBEB;
}

.statusLabelContainer--Info {
    @extend .statusLabelContainer;
    border-color: $SoftForeground;
    color: $SoftForeground;
    background-color: lightblue;
}