$Order_Status_New_Background: #F1EA94;
$Order_Status_New_Foreground: #ACA325;

$Order_Status_Processed_Background: #AAE8C5;
$Order_Status_Processed_Foreground: #65B487;

$Order_Status_Canceled_Background: #E89898;
$Order_Status_Canceled_Foreground: #E89898;