@using Kontrer.OwnerServer.OrderService.Domain.Orders.AccommodationOrder;
@page "/offers"
@inject Kontrer.Shared.MessageBus.IMessageBusManager bus
<h3>Offers</h3>
<button @onclick="Click">click</button>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }

    public async Task Click()
    {

        //await bus.SendAsync<CancelAccommodationOrderCommand>();
        //var client = new HttpClient();
        //client.BaseAddress = new Uri("https://localhost:44371/api/");
        //var result = await client.GetAsync("");
    }
}