@import "Colors/Order.scss";
@import "Colors/App.scss";

$BackgroundStrong: #111E2E;
$ForegroundStrong: #CDDBF5;

$ForegroundRegular: #6E739D;
$ForegroundRegularStrong: #1A2B5B;

$SoftForeground: #D1DFF7;

//Extra
$Extra_Background: #111e2e;
$Extra_Foreground: #afcbe8;
$Extra_Highlight: #293f56;

//Basic
$Basic_Background: #ffffff;
$Basic_Foreground: #1a2b5b;
$Basic_Highlight: #dbe8fe;
$Basic_Attention: #d94909;
$Basic_Secondary_Background: #eef1f6;

//Status
$Basic_Ok_Background: #e4fbe4;
$Basic_Ok_Foreground: #65b487;
$Basic_Ok_Icon: #aae8c5;

//Grid
$Grid_Item_Background: #F5F5F9;
$Grid_Item_Hover_Background: #F4EEFE;