@import "../../../Shared/Colors.scss";

latency {
    display: inline-block;    
    flex: 10;
}

inputs {
    display:block;
    flex: 40;
}

responseValue {
    display: block;
    flex: 40;
}

.latency--failed--true {
    color: $Error-Foreground;
}

.latency--failed--false {
    color: $Success-Foreground;
}

historyItem {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    height: 2rem;
    overflow: hidden;
    background-color: gray;
}
