@page "/MessageBusPage"

<h3>MessageBus</h3>
<button @onclick="()=> SendMessage(null)">Send!</button>
@foreach (var domain in Domains)
{
    <div>@domain.DomainName</div>
    @foreach (var message in domain.Messages)
    {
        <div>
            <h3>@message.Type.Name </h3>
            @for (int i = 0; i < message.Parameters.Count; i++)
            {
                var param = message.Parameters[i];
                var paramValue = message.ParametersValues[i];
                var index = i;
                @param.Name <MudBlazor.MudTextField TextChanged="(text)=>SetParamValue(message.ParametersValues,index,text)" Value="@paramValue" />

            }
            <MudButton @onclick="async ()=> await SendMessage(message)">Send!</MudButton>
        </div>
    }
}