@import "../Colors.scss";

layoutSectionMainBorder {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.layoutSectionMainBorder--bordered ::deep {
    border-radius: 11px;
    border: 1px solid #e4e7ee;
}

.layoutSectionMainBorder--simple ::deep {
}

headingBorder {
    font-weight: normal;
    font-size: 1.5rem;
    text-align: left;
    color: $App_Foreground;
    padding-bottom: 2rem
}


