<HeadContent>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</HeadContent>

<div>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudExpansionPanels Class="requestPanel" DisableBorders="true" Elevation="0" MultiExpansion="true">
        @foreach (var domainViewModel in DomainInfoViewModel)
        {
            @*<RequestDomainItem DomainItemViewModel="domainViewModel" OnMessageSending="@(async (s,a)=> await OnMessageSending(s,a))" />*@
            <RequestDomainItem DomainItemViewModel="domainViewModel" OnMessageSending="@(async (requestItem)=>await SendMessage(requestItem))" />
        }
    </MudExpansionPanels>
    <button @onclick="()=> { busManager.Load(); }">Reload</button>

    @*<script src="_content/MudBlazor/MudBlazor.min.js" suppress-error="BL9992"></script>*@
</div>
