$Request-Tag-Query-Foreground: #4FAB77;
$Request-Tag-Query-Background: #FCFFFD;
$Request-Tag-Command-Foreground: #D84292;
$Request-Tag-Command-Background: #FFFCFE;
$Request-Tag-Generic-Foreground: #5680B1;
$Request-Tag-Generic-Background: #FCFEFF;
$Error-Background: #FFFBFB;
$Error-Foreground: #D66A6A;
$Success-Foreground: #5EAB5E;

