service {
    display: inline-flex;
    flex-direction: row;
}

serviceName {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    writing-mode: vertical-rl;
}

durationBoxes {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    flex-direction: column;
    min-height: 0px;
    background-color: #00000010;
}

durationBoxes > *{
    grid-column: 1;
    grid-row: 1;
}

zoomToolBar {
    display: block;
    position: sticky;
    left: 0px;
    bottom: 0px;
    width: 5rem;
}

horizontalDurationMapView{
    display: block;
    position: relative;
    overflow: auto;
    width: 100%;
}

unknownAndKnowGroup{
    display: flex;
    flex-direction: row;
}
