@using Kontrer.OwnerServer.OrderService.Domain.Orders.AccommodationOrder
@using Kontrer.OwnerServer.CustomerService.Domain.Customer
@page "/counter"
@inject Kontrer.Shared.MessageBus.IMessageBusManager bus

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="SendCommandAction">SendCommand</button>
<p>@NewOrders</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private async void SendCommandAction()
    {
        //await bus.RequestAsync<CancelAccommodationOrderCommand>(new(5, null, true), default);
        await bus.SendAsync<DeleteCustomerCommand>(new(0));
        //var results = await bus.RequestAsync<GetAccommodationOrdersQuery, GetAccommodationOrdersResponse>();
        //var results = await bus.RequestAsync<GetAccommodationOrdersQuery, GetAccommodationOrdersResponse>();
        //NewOrders = System.Text.Json.JsonSerializer.Serialize(results);
        this.StateHasChanged();
    }

    public string NewOrders { get; set; }
}