@inject Kontrer.OwnerClient.Application.Pricing.PricingSwaggerClient client
@page "/settings"
<h3>Settings</h3>
@foreach (var setting in AllSettings)
{
    @setting.Key; @: -  @setting.Value;
    <br />

}


@code {

    private Dictionary<string, string> AllSettings = new Dictionary<string, string>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AllSettings = (Dictionary<string, string>)(await client.GetSettingsAsync());
            await base.OnAfterRenderAsync(firstRender);
            this.StateHasChanged();

        }
    }

}
