@import "../../Shared/Colors.scss";

requestItemComponent {
    margin-bottom: 0.6rem;
    display: block;
}

.requestItem__border {
    border-width: 0.5px;
    border-style: solid;
    border-radius: 3px;
}

.requestItem__border--command {
    @extend .requestItem__border;
    border-color: $Request-Tag-Command-Foreground;
}

.requestItem__border--query {
    @extend .requestItem__border;
    border-color: $Request-Tag-Query-Foreground;
}

::deep .background--query {
    background-color: $Request-Tag-Query-Background;
}

::deep .background--command {
    background-color: $Request-Tag-Command-Background;
}

requestName {
    font-style: italic;
    font-size: 19px;
    margin-left: 0.8rem;
}

requestBody {
    display: flex;
    /*    margin: 0rem 2rem 2rem 2rem;*/
}

paramLabel {
    font-weight: normal;
    font-size: 14px;
    color: #979797;
    float: right;
}

paramInput {
    border-radius: 3px;
    background: white;
    border: 0.5px solid #c2c2c2;
    display: flex;
    margin-left: 1rem;
}

paramType {
    font-size: 13px;
    text-align: left;
    color: #a5b5d6;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    padding: 0.6rem;
    /*    flex: 0.5 1 10px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.paramType-isPrimitive-False {
    color: #A7D6A5;
}

input {
    border-width: 0px;
    background-color: transparent;
    flex: 1;
    min-width: 0;
    width: 100%;
}

input:focus {
    border-width: 0px;
    outline: none;
}

requestHeading {
    /* margin-bottom: 1.5rem;*/
    /*display: block;*/
    display: flex;
    align-items: center;
    margin: -16px -24px;
}

.secondaryButton {
    text-decoration: underline;
    font-size: 12px;
    text-align: left;
    color: #1f3f97;
    padding: 0.6rem
}

::deep .paramRow > td {
    /*margin-bottom: 0.3rem;*/
    padding-bottom: 0.4rem;
}

.paramTable {
    border-collapse: separate;
    /*border-spacing: 0 0.7em;*/
}

bodySection {
    width: 50%;
    padding: 0rem 2rem 2rem 2rem;
}

headingSection {
    margin: 16px 24px;
    width: 50%;
}

::deep .paramTextBox {
    min-width: 0;
    width: 100%;
}

.sendRequestButton {
    font-size: 18px;
    text-align: center;
    color: #737373;
    border-radius: 3px;
    background: #f6faff;
    border: 1px solid #afbfc9;
    padding: 0 2rem;
}

failedLabel {
    color: red;
}

.responseText {
    width: 100%;
    height: 100%
}