@import "../../Shared/Colors.scss";





/*.domainBorder {
    display: block;
    padding: 4rem 4rem 4rem 8rem;
}*/

/*.requestPanel, ::deep .requestPanel {
    background-color: black;
}*/

::deep .requestPanel {
    /*background-color: black;*/
    width: 60vw;
}



/*.requestPanel > .mud-expand-panel.mud-panel-expanded {
    margin: 0px;
}*/