@import "../../Shared/Colors.scss";

$breakpoint-desktop: 768px;



ordersGrid {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
    }
}

ordersColumn {
    flex: 1;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    min-width: 0;
}

itemSpacer {
    height: 5px;
    display: block;
}

ordersContainer {
    display: block;
}

columnHeading {
    width: 100%;
    text-align: left;
    display: block;
    margin: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    color: $ForegroundRegularStrong;
}

horizontalLine {
    background: $SoftForeground;
    width: 1px;
}

orderList {
    display: flex;
    flex-direction:column;
    min-height: min-content; /* needs vendor prefixes */
    height: 75vh;
    overflow: auto;
    gap: 0.2rem;
}

orderList > * {
    display: flex;
    min-height: min-content; /* needs vendor prefixes */
}